span.pageNumber {
    margin-right: 5px;
    padding: 10px;
    cursor:pointer;
}

span.pageNumber:active {
    outline: 1px solid black;
}

span.pageNumber:hover {
    background: #F1FCFF;
}

.paginationContainer {
    width: 500px;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}